.home__main__component{
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .carousel-indicators [data-bs-target]{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $secondary;
        opacity: 1;
    }
    .carousel-indicators .active{
        background-color: $primary;
    }
}