.service__component{
    .service_main{
        .card{
            hr{
                background-color: #e9283c;
                opacity: 1;
            }
        }

        .card:hover{
            background-color: $primary;
            cursor: pointer;
            color: #fff;
            hr{
                background-color: #fff;
            }
        }
        
    }
}