.services__component{
    .services_main{
        border-top-right-radius: 10rem;

        .service-info-left{
            border-top-right-radius: 5rem;  
        }

        .service-info-right{
            border-top-left-radius: 5rem;  
        }
    }
}